body{
    background-color: aquamarine;
    /* color: blueviolet; */
    text-align: center;
    place-content: center;
}
h2{
    color: black;
}

.container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #2196F3;
    height: 150px;
    width: 500px;
    padding: 10px;
}

.container1 {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
}